h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 50px;
    color: darkblue;
}

p::before{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h2{
    font-family: 'Oswald', sans-serif;
    text-align: left;
    color: white;
}

p{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.hero{
    height: 110vh;
    background-image: url("images/art3.jpg");
}

.hero .container{
    position: absolute;
    top:55%;
    left:50%;
    text-align: center;
    transform: translateX(-50%) translateY(50%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: Open Sans, sans-serif;
}

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
}

div li {
    list-style: none;
    padding: 0px;
    text-decoration: none;
}
nav {
    display: inline-block;
    flex-wrap: wrap;
    padding: 20px;
    float: left;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: lightgrey;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: darkred;

}

a:visited {
    color:white
}
